@using EsadMVCProje.Models.Sınıflar
@model List<Blog>


<div class="padding">
    <h4>En Popüler 10 Blog</h4>
    <ul class="list list-pad">

        @{int a = 1;}
        @foreach (var i in Model)
        {

        <li class="list-bg"><span>@a</span><a href="/Blog/BlogDetay/@i.ID">@i.Baslik</a></li>

            a++;
        }
       
    </ul>
    <a href="/Blog/Index/" class="link1">Tüm Blogları Görüntüle</a>
</div>