
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>hakkimizda</title>
</head>
<body>
    <div>
        <br />
        <h1>HAKKIMIZDA</h1>
        <code>Çok Yakında sizlerle...</code>

    </div>
</body>
</html>
