
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_TestLayOut.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="container">

    <h2>İletişim</h2>

    <label>Adınız</label>
    <input type="text" class="form-control" placeholder="Adınızı giriniz" />
    <br />

    <label>Soyadınız</label>
    <input type="text" class="form-control" placeholder="Soyadınızı giriniz" />
    <br />

    <label>Mail</label>
    <input type="email" class="form-control" placeholder="Mailinizi giriniz" />
    <br />

    <label>Konu</label>
    <input type="text" class="form-control" placeholder="Konuyu giriniz" />
    <br />

    <label>Mesaj</label>
    <textarea  class="form-control" rows="7" placeholder="Adınızı giriniz"></textarea>
    
    <br />

    <button class="btn btn-success">Gönder</button>
    <br />
    <br />




</div>
