@using EsadMVCProje.Models.Sınıflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />

<div class="row">
    <div class="col-md-7"></div>

    <div class="col-md-5">
        <div class="row">

            <form class="form-group" action="/Admin/Index/">

               
                    <div class="col-md-8">

                        <input type="text" name="p" class="form-control" placeholder="Aranacak kelimeyi yazınız..." />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Ara</button>
                    </div>

              


            </form>


        </div>
    </div>

</div>

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>BAŞLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>

    </tr>

    @{ int a = 1;}
    @foreach (var x in Model)
    {
     <tr>
    <td>@a</td>
    <td>@x.Baslik</td>
    <td><a href="/Admin/BlogSil/@x.ID" class=" btn btn-danger">Sil</a></td>
    <td><a href="/Admin/BlogGetir/@x.ID" class=" btn btn-warning">Güncelle</a></td>
    <td><a href="/Blog/BlogDetay/@x.ID" target="_blank" class=" btn btn-default">Detaylar</a></td>

     </tr>
    a++;

    }
</table>
<a href="/Admin/YeniBlog/" class="btn btn-primary">Yeni Blog</a>
